### start of .gitignore
#
.flatpak-builder
build
build-dir
repo
#
secring.*
*.gpg
*.asc
*.sig
#
*~
.fuse_hidden*
.Trash-*
.nfs*
#
**/.ssh/id_*
**/.ssh/*_id_*
#
*.pem
*.key
*.crt
#
### end of .gitignore
